body {
    font-family: 'Poppins';
    background: var(--body-color);
}

:root {
    /* --primary: #00394d; */
    --primary: #00394d;
    --body-color: #d9d9d9;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}
.header > .header-middle, .user-details, .sidebar{
    background: var(--primary);
    color: #fff; 
    line-height: 70px;
}

a {
    text-decoration: none;
    color: #fff;
}

.sidebar {
    /* position: fixed;
    left: 0;
    height: 100%;
    float: right; */
}

.content {
    position: relative;
    left: 0;
}

.sidebar > ul {
    list-style: none;
    font-size: 15px;
}

.sidebar > ul > a > li {
    font-size: 10px;
    font-weight: lighter;
    border-bottom: 1px solid #fff;
    margin-left: -50px;
}

.sidebar > ul > a > li:hover {
    color: #fff;
    transition: all ease-in-out 0.5s;
}

.wheel {
    width: 300px;
    height: 300px;
    border: 5px solid #f2f2f2;
    border-radius: 50%;
    margin-left: 20px;
    color: #fff;
}

.wheel > span {
    position: absolute;
    top: 80px;
    left: 100px;
}

.first {
    background: rgb(31, 31, 167);
    text-align: center;
}

.second {
    background: rgb(228, 49, 64);
    text-align: center;
}

.third {
    background: rgb(153, 153, 28);
}

.fourth {
    background: green;
}

.cat_title {
    /* position: sticky;
    top: 70px;
    z-index: 1; */
}

.table_heading {
    background: var(--primary);
    color: #fff;
    line-height: 50px;
}

.chart_style {
    text-align: -webkit-center !important;
}

.footer {
    background: var(--primary);
    color: #fff;
    line-height: 50px;
}

